/*
  Daniel Gorabtov
  4/7/2021
  Quiz Section AO. TA's: Austin, Hritik

  This file implements the css rule sets for the restaurant
  website. The rule sets that are implemented here are the ones
  that are not shared with the restaurant website.
*/

header, footer {
  font-size: 40px;
}

footer {
  margin-top: 6rem;
}

p {
  font-size: 1.5rem;
}

section > p {
  align-self: center;
}

main > p {
  text-align: center;
}

section {
  display: flex;
  margin-top: 8rem;
  justify-content: space-around;
}

.menue-item-right {
  flex-direction: row-reverse;
}

article {
  margin-bottom: 5rem;
}