/*
  Daniel Gorabtov
  4/7/2021
  Quiz Section AO. TA's: Austin, Hritik

  This file implements the css rule sets for both
  the about me website, and the restaurant website.
  All common elements that are shared between these
  two websites are defined here.
*/

body {
  font-family: 'New Tegomin', serif;
  background-color: #F5F5F5;
  margin-top: auto;
  width: 100%;
}

main {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

header, body > footer {
  text-align: center;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

header {
  position: sticky;
  top: 0;
}

aside img {
  height: 80%;
  width: 80%;
}